# Licensed under the Apache License, Version 2.0 or the MIT License.
# SPDX-License-Identifier: Apache-2.0 OR MIT
# Copyright Tock Contributors 2024.

attrs==23.2.0
cattrs==23.2.3
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==44.0.1
Deprecated==1.2.14
idna==3.7
platformdirs==4.2.0
pycparser==2.21
PyGithub==2.1.1
PyJWT==2.8.0
PyNaCl==1.5.0
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.32.4
requests-cache==1.2.0
six==1.16.0
typing_extensions==4.9.0
url-normalize==1.4.3
urllib3==2.5.0
wrapt==1.16.0
