#interface
interface hla
hla_layout stlink
hla_device_desc "ST-LINK/V2-1"
hla_vid_pid 0x0483 0x374b

set WORKAREASIZE 0x40000

source [find target/stm32f4x.cfg]

# patched openocd
# this setup requires a patched version of openocd that fully supports stm32f412g-disco

# #interface
# source [find board/stm32f412g-disco.cfg]
# source [find interface/stlink.cfg]
# hla_serial "\x30\x36\x37\x31\x46\x46\x33\x33\x33\x30\x33\x36\x34\x33\x34\x42\x34\x33\x30\x37\x33\x30\x30\x39"

# set WORKAREASIZE 0x40000


