body {
  max-width: 900px;
  margin: auto !important;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.nav > li {
  float: left;
  background-color: #333;
}

ul.nav > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav > li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

img.avi {
  width: 100px;
}

img#workflow {
  max-width: 100%;
}