# Licensed under the Apache License, Version 2.0 or the MIT License.
# SPDX-License-Identifier: Apache-2.0 OR MIT
# Copyright Tock Contributors 2025.

# CMSIS-SVD parser library, with the version needed to run the svd2regs.py script.
cmsis-svd==0.4

# XML processing library, a dependency of cmsis-svd, as specified.
lxml==5.3.1

# Used for creating valid Rust identifiers from strings.
pydentifier
