# Licensed under the Apache License, Version 2.0 or the MIT License.
# SPDX-License-Identifier: Apache-2.0 OR MIT
# Copyright OxidOS Automotive 2025 SRL.
#
# OpenOCD configuration for the CY8CPROTO-062 development board

source [find interface/kitprog3.cfg]
source [find target/psoc6_2m.cfg]
